@import 'tab.styles.css';

body {
  margin: 0;
  background: white;
  color: hsl(0,0%,5%);
  min-height: 100vh;
  font-family: system-ui;
}

h2 {
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 0;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
}