.material-tabs {
  --sections: 2;
  --header-height: 50px;

  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  position: relative;

  & > header {
    display: grid;
    gap: .25rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    place-content: stretch;

    & > button {
      appearance: none;
      border: none;
      border-radius: .25rem;
      text-transform: uppercase;
      font-size: 1rem;
      color: hsl(200 80% 20%);

      &:hover {
        cursor: pointer;
        /* background: hsl(200 20% 92%); */
      }

      &:focus:not(:focus-visible) {
        outline: none;
      }
    }
  }

  & > .tab-indicator {
    height: .25rem;
    background: hotpink;
    width: calc(100% / var(--sections));
    border-radius: .25rem;
  }

  & > section {
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    & > article {
      scroll-snap-align: start;
      scroll-snap-stop: always;

      padding: 1rem;
    }
  }
}