.material-tabs {
  --sections: 2;
  --header-height: 50px;

  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  position: relative;

  & > header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    place-content: stretch;

    & > button {
      appearance: none;
      border: none;
      text-transform: uppercase;
      font-size: 1rem;
      color: hsl(0,0%,30%);
    }
  }

  & > .tab-indicator {
    height: .25rem;
    background: hotpink;
    width: calc(100% / var(--sections));
    border-radius: .25rem;
  }

  & > section {
    width: 100vw;
    min-height: 300px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100vw;

    &::-webkit-scrollbar {
      display: none;
    }

    & > article {
      scroll-snap-align: start;

      padding: 1rem;
    }
  }
}